<div class="col-md-4">
    <a href="{{ url }}">
	    <div class="card">
	        <div class="image" style="background-image: url('{{ image }}'); background-size: cover; background-position: 50% 50%;">
	            <img src="{{ image }}" alt="thumbnail" style="display: none;">
	            <div class="filter">
	                <button type="button" class="btn btn-neutral btn-simple">
	                    <i class="fa fa-align-left"></i> {{ product.post_title }}
	                </button>
	            </div>
	        </div>
	        <div class="content">
	            <p class="category">{{ category }}</p>
	            <h4 class="title">{{ product.post_title }}</h4>
	        </div>
	    </div>
    </a>
</div>
